.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
.vscode/
bin/

### STS ###
.apt_generated
.class
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
target/
nbbuild/
dist/
nbdist/
.nb-gradle/


.DS_Store
classes
out/
.scannerwork/

create-order-db.sql
create-sku-db.sql

catalog.json
catalog.csv
metrics.json
build

definitions/build
definitions/out
*.DS_Store
